@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model homeViewModel

<div class="welcomeText">
    <h1>Let's enlight the glory of your events with music,</h1>
    <h2>the language of spirit!</h2>
</div>

<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>

<partial name="_Carousel" />


<div class="welcomeText">
    <h3>"Why choose us!"</h3>
    <p>
        It’s our attention to the small stuff, scheduling of timelines and keen event management that makes us stand out from the rest. We are creative,
        while keeping a close eye on the calendar and your budget.
    </p>
    <p> Morever, We deeply understand and go with the famous saying - </p>
    <h4>
        <br />
        <br />
        Music is the moonlight in the gloomy night of life.
    </h4>
    <h5 style="font-family:'Bookman Old Style';font-size:large;font-style:italic;position:relative;left:400px;">
        -John Paul Friedrich Richter
    </h5>

</div>

<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>



<div class="ArtistSlide">
    <h2 class="myxx">Artist and Event of the week</h2>
    <h4 class="caption1">Our Monthly achievment - just for you!</h4>
</div>
    <div><br /></div>
    <div><br /></div>

    <partial name="_Carousel2" />


    @*<div class="row">

            @foreach (var events in Model.Eventsoftheweek)
            {
                <partial name="_EventCard" model="events" />
            }

        </div>*@




