body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('/images/pattern2.jpg');
    background-repeat: no-repeat;
    background-blend-mode :darken;
    background-size :cover;
    position:relative;
    background-position: center center;
    background-attachment:fixed;

    font-family: 'Source Sans Pro', sans-serif;
}



.myxx {
    color:burlywood;
    text-decoration-style:dashed;
}

.welcomeText {
    position:absolute;

}

    .welcomeText h1 {
        color: #fff;
        text-transform: uppercase;
        font-size: xx-large;
        font-family: 'Freestyle Script';
        font-display: block;
        text-align: center;
    }

    .welcomeText h2 {
        color : #fff;
        text-transform : uppercase;
        font-family:'Times New Roman', Times, serif;
        font-size:x-large;
        font-style:oblique;
    }

    .welcomeText p {
        color: #fff;
        text-transform : none;
        font-family:'Times New Roman', Times, serif;
        font-size:medium;

    }

.para{
    backface-visibility:visible;
    display:inline-block;
}

.caption1 {
    color:aliceblue;
    text-decoration-style:dotted;
}

.slide-image {
    width: 100%;
}



.carousel-holder {
    margin-bottom: 30px;
    
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

    .caption h4 {
        white-space: nowrap;
        color:antiquewhite;
    }

.thumbnail img {
    width: 100%;
}

.addToCart {
    padding-right: 10px;
    padding-left: 10px;
}

.thumbnail {
    padding: 0;
}

    .thumbnail .caption-full {
        padding: 9px;
        color:antiquewhite;
    }

footer {
    margin: 50px 0;
}

.navbar {
    background-image: none;
}

.navbar-inverse {
    background-color: #a593c2;
    border-color: #a593c2;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 1.2em;
}

.navbar .nav > li > a {
    font-size: 1.2em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white;
}

.carousel .item {
    height: 400px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #fcaeae !important;
    border-color: #fba1a1 !important;
}

.btn {
    background-color: #fcaeae !important;
    border-color: #fba1a1 !important;
}

