body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../Images/BG_Artists.png');
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    background-position:50% 30%;
    position: relative;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
}





.myxx {
    color:burlywood;
    text-decoration-style:dashed;
}

.welcomeText {
    position:absolute;

}

    .welcomeText h1 {
        color: white;
        text-transform: uppercase;
        font-size: xx-large;
        font-display: block;
        font-family: 'Freestyle Script';
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        text-align: center;
        position: relative;
        left: 280px;
    }

    .welcomeText h2 {
        color: white;
        text-transform: uppercase;
        font-family: 'Freestyle Script';
        font-size: xx-large;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        text-align: center;
        font-display: block;
        position: relative;
        left: 250px;
    }

    .welcomeText h3 {
        color: white;
        text-transform: uppercase;
        font-family:'Times New Roman', Times, serif;
        font-size:large;
    }

    .welcomeText h4 {
        color: white;
        text-transform: uppercase;
        font-family:'Bookman Old Style';
        font-size:large;
        font-display:block;
        font-style:italic;
        position: relative;
        left: 100px;
    }

    .welcomeText p {
        color: #fff;
        text-transform : none;
        font-family:'Times New Roman', Times, serif;
        font-size:medium;

    }

.para{
    backface-visibility:visible;
    display:inline-block;
}

.caption1 {
    color:aliceblue;
    text-decoration-style:dotted;
}

.slide-image {
    text-align: center;
    margin: -25px 0 0 -25px;
    position: center;
    width: 640px;
    height: 360px;
    border: hidden;
}



.carousel-holder {
    margin-bottom: auto;
    width: 640px;
    height: 360px;
    border: hidden;
}

.carousel-control,
.item {
    width: 10%;
    border-radius: 1px;
    border: hidden;
}

.caption {
    height: 130px;
    overflow: hidden;
}

    .caption h4 {
        white-space: nowrap;
        color:antiquewhite;
    }

.thumbnail img {
    width: 100%;
}

.addToCart {
    padding-right: 10px;
    padding-left: 10px;
}

.thumbnail {
    padding: 0;
}

    .thumbnail .caption-full {
        padding: 9px;
        color:antiquewhite;
    }

footer {
    margin: 50px 0;
}

.navbar {
    background-image: none;
}

.navbar-inverse {
    background-color:aliceblue;
    border-color:aliceblue
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 1.2em;
}

.navbar .nav > li > a {
    font-size: 1.3em;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color: #660066;
    position: relative;
    left:400px;
    top:25px;
    margin-top:auto;
    display: inline-block;
    vertical-align:top;
}

.carousel .item {
    text-align: center;
    position: relative;
    left: 200px;
    width: 100%;
    border:hidden;
}

.item img {
    min-height: 400px;
    
    
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #fcaeae !important;
    border-color: #fba1a1 !important;
}

.btn {
    background-color: #fcaeae !important;
    border-color: #fba1a1 !important;
}

.imgg {
    min-height: 300px;
    max-height:300px;
    border-image-width: 4px;
}

.slide{
    position: relative;
    left : 140px;
    max-height:600px;
    width:100%;
    border:hidden;

}

.arrowc {
    position:relative;
    left:55px;
    bottom:180px;
    width:80%;
}

.slide1 {
    position: relative;
    left: 140px;
    max-height: 600px;
    max-width: 650px;
}

.ArtistSlide {
    position: relative;
    left: 280px;
    max-height: 600px;
    max-width: 650px;
}