@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="welcomeText">

<h3>Our Vision</h3>
    <p>
        Our Vision is to provide inner piece to your soul with our music and leave no corner for stress beneath you.
    </p>

    <br>
    <br />

    <br />
    <br />
   
    <h3>Our mission</h3>
    <p>
        We take pride in our work, therefore, with our years of experienced and qualified staff, excellent coordination and planning skills, we guarantee you 100% satisfaction when you allow us to take charge of every detail. We hope to be able to service you, when we do, we will make sure that in that special day you and your guests can enjoy a grand event leaving with nothing to do except enjoy yourself.we'll take care of the rest.
    </p>
    </div>


